<nav class="nav">
    <ul class="nav-ul">
<li class="nav-li">
    <a href="/" class="nav-a">
    Inicio
    </a>
</li>

<li class="nav-li">
    <a href="/nosotros" class="nav-a">
    Nosotros
    </a>
</li>
<li class="nav-li">
    <a href="/contacto" class="nav-a">
    Contacto
    </a>
</li>
<li class="nav-li">
    <a href="/agregar" class="nav-a">
    Agregar
    </a>
</li>
    </ul>



</nav>