body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-ul {
  display: flex;
  padding: 0;
  list-style: none;
  background-color: purple;
}
.nav-li {
  flex-grow: 1;
}
.nav-a {
  text-align: center;
  padding: 8px 0;
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.nav-a:hover {
  text-decoration: underline;
}

.form_agregar_label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}


.form_agregar_label {
  display: grid;
  grid-template-columns: 130px 1fr;
}

/*
  ---------------------------
      LIBRO
  ---------------------------
*/

.libro {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 16px;
}

.libro-titulo {
  margin-top: 0;
}

.libro-subtitulo {
  color: #333;
}
